.contenedor{
  display: flex;
  flex-direction: column;
  align-items: center;     /* centro horizontal */
  gap: 20px;
}

input{
  width: 200px;
  height: 40px;
  font-size: 18px;
}

.signosUno{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.signosDos{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.resultado{
    display:flex;
    justify-content: center;

}

